@model Orders

<h2>Order details:</h2>
<h1>ORDER ID: @Model.Id</h1>
<h1>PRICE: @Model.Price</h1>
<h1>PHONE NUMBER: @Model.RecipientPhoneNumber</h1>
<h1>RECIPENT: @Model.RecipientName</h1>
<h1>ADRESS: @Model.RecipientAdress</h1>
<h1>ORDERED: @Model.NameOfOrder</h1>